<h1>Movies</h1>
<table>
  <thead>
    <tr>
      <td>Movie Title</td>
      <td>Year Released</td>
      <td>Rating</td>
      <td>Genre</td>
      <td>Studio</td>
    </tr>
  </thead>
  <tr>
    <% movies.each do |movie| %>
      <td><a href="/movies/<%= movie["title"] %>"><%= movie["title"] %></td>
      <td><%= movie["year"] %></td>
      <td><%= movie["rating"] %></td>
      <td><%= movie["genre"] %></td>
      <td><%= movie["studio_name"] %></td>
  </tr>
    <% end %>
</table>
