<h1><%= movie[0]["movie_title"] %></h1>
<h2><%= movie[0]["genre"] %> from <%= movie[0]["studio"] %></h2>
<a href="/movies">Back to All Movies</a>

<table>
  <thead>
    <tr>
      <td>Starring</td>
      <td>As</td>
    </tr>
  </thead>
  <% movie.each do |role| %>
  <tr>
    <td><a href="/actors/<%= role["actor_id"] %>"><%= role["actor"] %></a></td>
    <td><%= role["role"] %></td>
  </tr>
  <% end %>
</table>
